

.tags {
  height: 90px;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(0, 126, 251, 1) 0%,
    rgba(0, 212, 250, 1) 100%
  );
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 3px 2px;
  margin-bottom: 90px;
}

.tag {
  outline: none;
  border: none;
  color: #eee;
  margin: 0px 10px;
  background-color: transparent;
  cursor: pointer;
  width: 120px;
}
.tag:hover {
  color: orange;
  font-weight: 900;
  transition: all 1s;
}
.eyediv {
  color: white;
}
.eyewrapcol {
  display: flex;
  flex-direction: column;
}
.eyewrapline {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
}
#eyecode {
  background: #fbb402 !important;
}
.active {
  font-weight: bold;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  background: rgb(1, 134, 203);
  left: 2%;
  margin-top: 2%;
  transform: translate() (-50%, -5%);
  z-index: 20;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.PFcontainer {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 5px;

  /* object-fit: contain; */
  object-fit: cover;
  /* object-fit: fill; */
}

.imageCard:hover .overlay {
  bottom: 0;
  height: 100%;
}
